langchain
# langchain-community
# langchain-chroma
# langchain-unstructured
# unstructured[pdf]
langchain_ollama
pypdf
# pymupdf
chromadb
pytest
easyocr
pdf2image
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
backoff
bcrypt
beautifulsoup4
bleach
blis
build
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
coloredlogs
comm
confection
contourpy
cryptography
cycler
cymem
dataclasses-json
debugpy
decorator
deepdiff
defusedxml
Deprecated
dirtyjson
distro
easyocr
effdet
emoji
# en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing
fastapi
fastjsonschema
filelock
filetype
flatbuffers
fonttools
fqdn
frozenlist
fsspec
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
imageio
importlib_metadata
importlib_resources
iniconfig
iopath
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-ollama
langchain-text-splitters
langchain-unstructured
langcodes
langdetect
langsmith
language_data
layoutparser
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
lxml
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
mpmath
multidict
murmurhash
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
notebook
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
ollama
omegaconf
onnx
onnxruntime
openai
opencv-python
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orderly-set
orjson
overrides
pandas
pandocfilters
parso
pdf2image
pdfplumber
pexpect
pi_heif
pikepdf
pillow
platformdirs
pluggy
portalocker
posthog
preshed
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pyclipper
pycocotools
pydantic
pydantic-settings
pydantic_core
Pygments
PyMuPDF
pyparsing
pypdf
PyPDF2
pypdfium2
PyPika
pyproject_hooks
pytesseract
pytest
python-bidi
python-dateutil
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
python-oxmsg
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-image
scikit-learn
scipy
Send2Trash
sentence-transformers
setuptools
shapely
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
striprtf
sympy
tenacity
terminado
thinc
threadpoolctl
tifffile
tiktoken
timm
tinycss2
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
typer
types-python-dateutil
typing-inspect
typing_extensions
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uri-template
urllib3
uvicorn
uvloop
wasabi
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
widgetsnbextension
wrapt
yarl
zipp
